parameters:
    level: 8
    paths: ['src']
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - "#Attribute class JetBrains*#"